<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Calculadora" />
		<meta name="description" content="Una calculadora con Astro, y ya. Para sumar, restar, multiplicar, dividir y ya. Es una calculadora tampoco debe ser WOW." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://astro-calculadora.pages.dev/" />
		<meta property="og:title" content="Calculadora" />
		<meta property="og:description" content="Una calculadora con Astro, y ya. Para sumar, restar, multiplicar, dividir y ya. Es una calculadora tampoco debe ser WOW." />
		<meta property="og:image" content="https://i.imgur.com/9ST0Jog.jpeg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://astro-calculadora.pages.dev/" />
		<meta property="twitter:title" content="Calculadora" />
		<meta property="twitter:description" content="Una calculadora con Astro, y ya. Para sumar, restar, multiplicar, dividir y ya. Es una calculadora tampoco debe ser WOW." />
		<meta property="twitter:image" content="https://i.imgur.com/9ST0Jog.jpeg" />
		<title>Calculadora</title>
	</head>
	<body>
		<slot />

		<script src="../assets/js/index.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
